form.Form {
  display: flex;
  flex-direction: column;
  div.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    & > div.column {
      display: flex;
      flex: 1;
      justify-content: space-evenly;
      align-items: center;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
