@import '../../../../scss/constants/transitions.scss';

div.KeyValue {
  width: calc(100% - 26px);
  display: flex;
  padding: 8px 0;
  margin: 0 13px;
  justify-content: flex-start;
  align-items: center;
  transition: all $transition-duration;
  font-weight: 500;
  font-size: 0.9rem;
  &.selected {
    div#round {
      background-color: #23bbee;
    }
  }
  div#round {
    min-height: 13px;
    min-width: 13px;
    max-height: 13px;
    max-width: 13px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 13px;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #bbb;
  }
  &:hover {
    font-weight: 600;
  }
  &:not(.selected):hover {
    div#round {
      background-color: #90cadd;
    }
  }
}
